
.container {
    width: 70%;
    min-height: 80vh;
    margin: 10vh auto 0;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    font-family: 'Open Sans';
}

.container .header,
.container .form .form__request,
.container .form .form__users {
    width: 80%;
}

.container .header {
    min-height: 100px;
    margin: 0 auto;
    color: rgb(67, 145, 239);
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid rgb(217, 233, 252);
}

.container .header h4 {
    margin-top: 0;
}

.container .form .none {
  display: none;
}

.container .form .block {
  display: block;
}

.container .form .form__request,
.container .form .form__users {
    margin: auto;
}

.container .form .form__request h4 {
    margin-bottom: 2px;
}

.container .form .form__request select,
.container .form .form__request textarea {
    min-width: 100%;
    padding: 0;
    background-color: #eff4fa;
    border: 1px solid rgba(19,147,246,0.5);
    border-radius: 6px;
    padding: 13px 11px;
    box-sizing: border-box; 
    font-size: 14px;
    transition-duration: .18s;
}

.container .form .form__request select {
  height: 45px;
}

.container .form .form__request button,
.container .form button {
  width: 100%;
  background-color: rgb(67, 145, 239);
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  margin: 30px 0;
  color: #fff;
}

.container .form button {
  border-radius: 4px;
}

.container .form .form__users .form__group {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 10px;
}

.container .form .form__users .form__group .form__input {
  background-color: #eff4fa;
  border: 1px solid rgba(19,147,246,0.5);
  border-radius: 6px;
  font-size: 14px;
  padding: 13px 11px;
  transition-duration: .18s;
  transition-property: box-shadow;
  margin: 5px 0;
  box-sizing: border-box;
}

.container .form .form__users .form__group input:placeholder-shown + label {

}

.container .form .form__tabs {
  display: flex;
  background-color: rgb(231, 231, 231);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container .form .form__tabs .form__tab {
  margin: 0 auto;
  padding: 0;
  border: 0;
  border-bottom-left-radius: 10px;
  text-transform: initial;
  border-bottom-right-radius: 10px;
  background-color: rgb(231, 231, 231);
  color: rgb(106, 125, 136);
}

.container .form .form__tabs .active {
  background-color: #fff;
}

@media (min-width: 768px) {
    .container {
        width: 60vw;
    }

    .container .header,
    .form .form__request {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 40vw;
    }

    .container .header,
    .form .form__request {
        width: 80%;
    }
}