
.container {
    width: 70%;
    min-height: 80vh;
    margin: 10vh auto 0;
    border: 1px solid rgb(173, 168, 168);
    border-radius: 10px;
    font-family: 'Open Sans';
}

.container .header,
.container .form .form__request {
    width: 80%;
}

.container .header {
    height: 100px;
    margin: 0 auto;
    color: rgb(67, 145, 239);
    text-align: center;
    font-style: italic;
    border-bottom: 1px solid rgb(217, 233, 252);
}

.container .header h4 {
    margin-top: 0;
}

.container .form .form__request {
    margin: auto;
}

.container .form .form__request h4 {
    margin-bottom: 2px;
}

.container .form .form__request select,
.container .form .form__request textarea {
    min-width: 100%;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
        width: 60vw;
    }

    .container .header,
    .form .form__request {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 40vw;
    }

    .container .header,
    .form .form__request {
        width: 80%;
    }
}